.App {
    font-family: Arial, sans-serif;
    margin-top: 50px;
}
.Header1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}
.TotalVotes {
    margin-top: 20px;
    font-style: italic;
}